
/* สไตล์สำหรับเซลล์ */
.info-table td {
  padding: 9px;
  border: 1px solid #f1eded; /* เส้นขอบให้กับทุกเซลล์ */
  color: #333; /* สีตัวหนังสือเทาเข้ม */
  font-weight: normal; /* ความเข้มตัวหนังสือปกติ */
}

table, th, td {
  border-collapse: collapse; /* รวมขอบของเซลล์ */
}

table {
  width: 100%; /* กำหนดความกว้างของตารางให้เต็มพื้นที่ */
  table-layout: fixed; /* ใช้การจัดการตารางที่คงที่เพื่อให้ขนาดเซลล์เท่ากัน */
}

th, td {
  padding: 8px; /* การเว้นระยะภายในเซลล์ */
  text-align: left; /* จัดตำแหน่งข้อความในเซลล์ */
  font-weight: normal; /* ตั้งค่าความเข้มตัวหนังสือให้เป็นปกติ */
}




